#calender {
    width: 100%;
    height: 76%;
    table-layout: fixed;
    padding: 0.5rem;
    color: white;
}
#calender tbody {
    border-collapse: collapse;
}
#calender td,
#calender th {
    text-align: center;
    vertical-align: middle;
}
#calender tr {
    height: calc(100% / 7);
}
/*#calender tbody tr {
    border-top: 2px solid white;
    }*/
.othermonth {
    color: #aaa;
}

.t0,
.t1,
.t2,
.tn,
.td {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow:
        0 4px 20px rgba(31, 38, 135, 0.08),
        inset 0 2px 8px rgba(255, 255, 255, 0.18);
    transition:
        background 0.2s,
        color 0.2s;
}

.t0 {
    background: rgba(255, 0, 0, 0.5);
}
.t1 {
    background: rgba(238, 170, 0, 0.5);
}
.t2 {
    background: rgba(0, 255, 119, 0.5);
}
.td {
    width: 2.7rem;
    height: 2.7rem;
    background: rgba(0, 187, 255, 0.5);
}
