body {
    height: 100vh;
    display: flex;
    font-size: 120%;
    flex-direction: column;
    font-family: "Share Tech Mono", monospace;
    background: linear-gradient(to right, darkblue, darkmagenta);
}
html,
body {
    overflow: hidden;
}
.header {
    display: flex;
    align-items: center;
    padding: 7px;
    margin-bottom: 1rem;
}
.header,
.header * {
    box-sizing: border-box;
}
.header #logo {
    height: 5lh;
    width: auto;
}
.header #logotext {
    color: white;
}
.header .right {
    text-align: right;
    margin-left: auto;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* leicht abdunkeln */
    z-index: 1999;
    pointer-events: all;
}
#userlogin {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 25vh;
    width: 60vw;
    z-index: 2000;
    justify-content: center;
    align-items: center;
}
#userlogin > * {
    margin: 5px;
}
#userid {
    text-align: center;
}
