#scripting {
    width: 100%;
    height: 76%;
    box-sizing: border-box;
    padding: 3vh 2vw;
    color: white;
}

#script {
    width: 100%;
    height: 100%;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    resize: none;
}
